.home{
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    width:70%;
}
.cards{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    width:50vh;
    height:30vh;
}
